---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Layout from "../layouts/Layout.astro";
import CursorIcon from "../assets/devicon_cursor.svg";
import ReactIcon from "../assets/devicon_react.svg";
import TypeScriptIcon from "../assets/devicon_typescript.svg";
import GitIcon from "../assets/devicon_git.svg";
import FigmaIcon from "../assets/devicon_figma.svg";
import AvatarIcon from "../assets/avatar.png";
---

<Layout title="Mon Portfolio">
  <main
    class="min-h-screen bg-background text-foreground transition-colors duration-300 flex items-center justify-center"
  >
    <div class="max-w-2xl mx-auto p-8 w-full">
      <!-- ! Hero row -->
      <div class="grid grid-cols-4 gap-4">
        <Card className="bg-card border-border col-span-3">
          <CardContent className="flex flex-col gap-2">
            <CardTitle className="text-card-foreground text-3xl font-semibold">
              Hey, I'm Ugo !
            </CardTitle>
            <CardDescription className="text-muted-foreground">
              Frontend developer @<a
                href="https://dametis.com"
                target="_blank"
                class="text-primary">Dametis</a
              >
            </CardDescription>
          </CardContent>
        </Card>

        <Card
          className="bg-card border-border aspect-square flex items-center justify-center p-4"
        >
          <img
            src={AvatarIcon.src}
            alt="Avatar"
            class="w-full h-full object-cover rounded-lg"
          />
        </Card>
      </div>

      <!-- ! My techs and tools -->
      <div class="grid grid-cols-5 gap-4 mt-4">
        <Card
          className="bg-card border-border flex items-center justify-center"
        >
          <img src={ReactIcon.src} alt="React" class="w-10 h-10" />
        </Card>

        <Card
          className="bg-card border-border  flex items-center justify-center"
        >
          <img src={TypeScriptIcon.src} alt="TypeScript" class="w-10 h-10" />
        </Card>

        <Card
          className="bg-card border-border  flex items-center justify-center"
        >
          <img src={GitIcon.src} alt="Git" class="w-10 h-10" />
        </Card>

        <Card
          className="bg-card border-border  flex items-center justify-center"
        >
          <img src={FigmaIcon.src} alt="Figma" class="w-10 h-10" />
        </Card>

        <Card
          className="bg-card border-border flex items-center justify-center"
        >
          <img src={CursorIcon.src} alt="Cursor" class="w-10 h-10" />
        </Card>
      </div>

      <!-- ! My projects -->
      <div class="grid grid-cols-1 mt-4">
        <Card className="bg-card border-border w-full">
          <CardHeader>
            <CardTitle className="text-card-foreground">My projects</CardTitle>
          </CardHeader>
          <CardContent> Carousel </CardContent>
        </Card>
      </div>

      <!-- ! Ask me your questions & Location & Contact -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
        <Card
          className="bg-card border-border  col-span-1 md:col-span-2 lg:col-span-3"
        >
          <CardHeader>
            <CardTitle className="text-card-foreground">
              Ask me your questions
            </CardTitle>
          </CardHeader>
        </Card>

        <div class="flex flex-col gap-4">
          <Card className="bg-card border-border">
            <CardHeader>
              <CardTitle className="text-card-foreground">
                Contact me
              </CardTitle>
            </CardHeader>
          </Card>

          <Card className="bg-card border-border">
            <CardHeader>
              <CardTitle className="text-card-foreground">Location</CardTitle>
            </CardHeader>
          </Card>
        </div>
      </div>
    </div>
  </main>
</Layout>
